extend layout
block content
    div(style="min-width: 450px;width: 450px;margin: 0 auto;")
        div(style="width: 100%;display: flex;flex-direction: row;margin-bottom:-25px;")
            div(style="width:80%") 
                h3 Movies Running now
            div(style="width:20%;text-align: right;") 
                h3(style="cursor:pointer; margin-right:10px;" class="addNew") +
        div(class="movie" id="hidden" style="display:none;height:110px;")

    div(class="movie-container" id="movie-container")
        include movies_list
    
    script.
        $(document).ready(function(){
            $('.addNew').click(function(e){
                
                var template = '<div style="padding:10px;">'+
                                    '<div class="action_row">'+ 
                                        '<div class="label" style="width:30%;">'+    
                                            'Title :'+
                                        '</div>'+
                                        '<div style="width:70%;">'+
                                            '<input name="title" type="text" placeholder="Enter movie title">'+
                                        '</div>'+
                                    '</div>'+
                                    '<div style="margin-top:5px;" class="action_row">'+
                                        '<div class="label" style="width:30%;">'+    
                                            'Director : ' + 
                                        '</div>'+
                                        '<div style="width:70%;">'+
                                            '<input type="text" name="director" placeholder="Enter movie director">'+
                                        '</div>' +
                                    '</div>' +
                                    '<div style="margin-top:5px;" class="action_row">'+
                                        '<div class="label" style="width:30%;">'+    
                                            'Genre :'+ 
                                        '</div>' + 
                                        '<div style="width:70%;">' +
                                            ' <input type="text" name="genre" placeholder="Enter movie Genre">'+
                                        '</div>' +
                                    '</div>'+
                                    '<div style="margin-top:5px;">'+
                                        '<input type="file" name="file" accept="image/*">' +
                                        '<button id="btn-add" type="button">Add Title</button>'+
                                    '</div>'+
                               '</div>';
                $('#hidden').css('display', 'block');
                $('#hidden').append(template);
                e.target.hidden = true;
            });


        });

        $(document).on('click', '#btn-add', function(){
            console.log("btn add");
            //var url = "http://localhost:1337/admin";
            var url = window.location.href;     
            var origin = window.location.origin;

            var file = $('[name="file"]')[0].files[0];
            var formData = new FormData();
            formData.append('title', $('[name="title"]').val());
            formData.append('director', $('[name="director"]').val());
            formData.append('genre', $('[name="genre"]').val());
            formData.append('logo', file);

            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                success: function(data){
                    console.log('Success :', data);
                    $('h3.addNew').show();
                    //after save hide the block
                    $('#hidden').empty();
                    $('#hidden').css('display', 'none');
                },
                error: function(err) {
                    console.log(err);
                },
                processData: false,
                contentType: false
            });
        });

        //var socket = io.connect('http://localhost:1337');
        var socket = io.connect(origin);
        socket.on('movie', function(data){
            $('#movie-container').prepend(dataTemplate(data));
            console.log(data);
            socket.emit('movie updated', {my : 'data'});
        });

        function dataTemplate(data) {
            var template = '<div class="movie">' + 
                                '<div class="movie-content" style="width:75%">'+
                                '<div>'+
                                    '<strong>' + data.title +'</strong>' +
                                '</div>' + 
                                '<div>' +  
                                    '<span> <strong>Director :</strong></span>' +
                                    '<span>' + data.director +'</span>' +
                                '</div>' + 
                                '<div>'+ 
                                    '<span> <strong>Genre :</strong></span>' +
                                    '<span>'+ data.genre +'</span>' +
                                '</div>'+
                            '</div>'+
                            '<div class="movie-content" style="width:25%;text-align: right">'+
                                '<img class="logo" src="' +data.logo +'">'+
                            '</div>'+
                        '</div>'
                        console.log(template);
            return template;
        }
