extend layout
block content
    div(style="min-width: 450px;width: 450px;margin: 0 auto;")
        div(style="width: 100%;display: flex;flex-direction: row;margin-bottom:-25px;text-align:center;")
            div(style="width:80%") 
                h3 Movies Running now
            
    div(class="movie-container" id="movie-container")
        include movies_list
    
    script.
        var origin = window.location.origin;
        //var socket = io.connect('http://localhost:1337');
        var socket = io.connect(origin);
        socket.on('movie', function(data){
            $('#movie-container').prepend(dataTemplate(data));
            console.log(data);
            socket.emit('movie updated', {my : 'data'});
        });

        function dataTemplate(data) {
            var template = '<div class="movie">' + 
                                '<div class="movie-content" style="width:75%">'+
                                '<div>'+
                                    '<strong>' + data.title +'</strong>' +
                                '</div>' + 
                                '<div>' +  
                                    '<span> <strong>Director :</strong></span>' +
                                    '<span>' + data.director +'</span>' +
                                '</div>' + 
                                '<div>'+ 
                                    '<span> <strong>Genre :</strong></span>' +
                                    '<span>'+ data.genre +'</span>' +
                                '</div>'+
                            '</div>'+
                            '<div class="movie-content" style="width:25%;text-align: right">'+
                                '<img class="logo" src="' +data.logo +'">'+
                            '</div>'+
                        '</div>'
                        console.log(template);
            return template;
        }