for movie in movies
            .movie
                div(class="movie-content" style="width:75%")
                    div
                       strong= movie.title
                    div 
                        span 
                            strong Director :
                        span= movie.director 
                    div 
                        span 
                            strong Genre :
                        span= movie.genre
                div(class="movie-content" style="width:25%;text-align: right;")
                    img(src= movie.logo class="logo")